<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conectores_Tarea03.My.MySettings.PubsAuthors" connectionString="Dsn=Pubs - Authors"
            providerName="System.Data.Odbc" />
        <add name="Conectores_Tarea03.My.MySettings.NorthwindServerClase"
            connectionString="Dsn=NorthWind - A06SERVIDOR1;uid=alumnoserver;pwd=alumnoserver"
            providerName="System.Data.Odbc" />
        <add name="Conectores_Tarea03.My.MySettings.pubsConexionPropioServerSQL"
            connectionString="Data Source=3MASANZA06-9\SQLEXPRESS;Initial Catalog=pubs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Conectores_Tarea03.My.MySettings.NorthwindEjercicio4"
            connectionString="Data Source=A06SERVIDOR1\SQLEXPRESS;Initial Catalog=Northwind;User ID=alumnoserver;Password=alumnoserver"
            providerName="System.Data.SqlClient" />
        <add name="Conectores_Tarea03.My.MySettings.Ejercicio6" connectionString="Provider=SQLNCLI10.1;Data Source=3MASANZA06-9\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=pubs"
            providerName="System.Data.OleDb" />
        <add name="Conectores_Tarea03.My.MySettings.Ejercicio07" connectionString="Provider=SQLNCLI10.1;Data Source=A06SERVIDOR1\SQLEXPRESS;Password=alumnoserver;User ID=alumnoserver;Initial Catalog=Northwind"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
</configuration>